body {
    font-family: Arial, sans-serif;
}

.main {
    background-image: url('../imgs/principal.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image {
    color: black;
    text-align: center;
    padding-left: 50%;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product {
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}